apiVersion: v1
kind: Service
metadata:
  name: product-service
  labels:
    app: product-service
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: product-service
  ports:
  - port: 80
    targetPort: 3002
    protocol: TCP
    name: http
